@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;400;500;700&family=Silkscreen:wght@400;700&display=swap');

* {
    margin:0px;
}

html, body {
     overflow-x: hidden;
}

.camimg {
    height: 20px;
    padding-bottom: 3px;
    filter: invert(100%);
}

.navlogo {
    height: 40px;
}

.bglight {
    background-color: #262423 !important;
}

nav {
    font-family: "Montserrat", "Poppins", sans-serif;
    font-weight: 500;        
    text-transform: uppercase;
    letter-spacing: 0.1em;    
    font-size: 0.9rem;        
    color: #fff;              
}

.navbar .nav-link:hover {
  color: #85c341 !important;
}

.bg {
    background-color: #171615;
    background: cover;
    height: 100vh;
    width: auto;

}



.main-head {
    font-family: "Silkscreen";
}

.butto {
    background-color: #3c8527;
    border-color: #52a535;
    height: 40px;
    width: 120px;
    text-decoration: none;
}

.butto:hover {
    background-color: #85c341;
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

.footlogo {
    filter: grayscale(100%);
    height: 40px;
}

.footcreds {
    text-decoration: none;
    color: grey;
    font-style: italic;
}

.bglight2 {
    background-color: #262423;
    height: auto;
    margin-top: auto;
}

.foo {
    color: #808080;
}

.dropdown-item:hover {
    background-color: #808080 !important;
}

.about-p {
    font-size: 24px;
    font-family: "Montserrat", "Poppins", sans-serif;
}

main {
    height: 100vh;
}

button {
    font-family: "Montserrat", "Poppins", sans-serif !important;
    text-transform: uppercase;
}

.about-t {
    font-size: 16px;
    font-family: "Montserrat", "Poppins", sans-serif;
}

.inp {
    height: 40px;
}

#application input::placeholder {
  color: #9ca3af !important;
  font-style: italic !important;
  opacity: 1 !important;
}

#application input::-webkit-input-placeholder {
  color: #9ca3af !important;
  font-style: italic !important;
}

#application input:-ms-input-placeholder {
  color: #9ca3af !important;
  font-style: italic !important;
}
